* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: -7rem;
  height: 100px;
  width: 100vw;
  background-color: #ea2f2f;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header.active {
  visibility: visible;
  opacity: 1;
  top: 0;
  z-index: 1;
}

header .titles {
  padding-left: 10px;
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .titles .one {
  width: 40%;
  text-align: center;
}

header .titles .one img {
  width: 70px;
}

header .titles .two {
  width: 60%;
}

header .titles .two h1 {
  font-size: 30px;
  color: white;
}

header .tools {
  position: absolute;
  width: 270px;
  height: 85%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

header .tools .one {
  width: 20%;
}

header .tools .one img {
  width: 85%;
}

header .contact {
  position: absolute;
  right: 67px;
  top: 10px;
  width: 70px;
}

header .contact img {
  width: 100%;
}

.sticky {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.sticky.top {
  background: url("../images/top.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sticky.second {
  background: url("../images/photo-03.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sticky.second .second-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.sticky.second .second-flex h2 {
  font-size: 50px;
  color: white;
  text-shadow: 5px 2px 9px grey;
  width: 90%;
  text-align: center;
}

.sticky.second .arrow {
  position: absolute;
  right: 40px;
  top: 8rem;
  height: 70%;
}

.sticky.second .arrow img {
  height: 100%;
  -webkit-filter: brightness(200);
          filter: brightness(200);
}

.sticky.third {
  background-color: white;
}

.sticky.third .third-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10%;
  padding-bottom: 2.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.sticky.third .third-flex .third-flex-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.sticky.third .third-flex .third-flex-inner .one {
  width: 50%;
}

.sticky.third .third-flex .third-flex-inner .one h2 {
  font-weight: 100;
  font-size: 1.7rem;
}

.sticky.third .third-flex .third-flex-inner .one p {
  font-size: 1.1rem;
}

.sticky.third .third-flex .third-flex-inner .one.two {
  width: 40%;
  height: 35vh;
}

.sticky.third .application-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.sticky.third .application-content .one {
  width: 77%;
  border: 3px solid #ea2f2f;
  padding: 2rem;
}

.sticky.third .application-content .one h2 {
  font-weight: 100;
  font-size: 18px;
}

.sticky.third .application-content .one .slack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-left: 35px;
}

.sticky.third .application-content .one .slack p {
  font-size: 15px;
  padding-right: 2rem;
}

.sticky.third .application-content .one .slack img {
  width: 50px;
}

.sticky.third .arrow {
  position: absolute;
  right: 40px;
  top: 8rem;
  height: 60%;
}

.sticky.third .arrow img {
  height: 100%;
}

.sticky.third .talk {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 77px;
}

.sticky.third .talk img {
  width: 100%;
}

.sticky.fourth {
  background-color: white;
}

.fourth-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10%;
  padding-bottom: 2.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.fourth-flex .fourth-flex-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.fourth-flex .fourth-flex-inner .one {
  width: 50%;
}

.fourth-flex .fourth-flex-inner .one h2 {
  font-weight: 100;
  font-size: 1.7rem;
}

.fourth-flex .fourth-flex-inner .one p {
  font-size: 1.1rem;
}

.fourth-flex .fourth-flex-inner .one.two {
  width: 40%;
  height: 35vh;
}

.fourth-flex .fourth-flex-inner .one ol li {
  margin-bottom: 15px;
}

footer {
  bottom: 0;
  width: 100%;
  background: #ea2f2f;
}

footer p {
  color: #FFF;
  text-align: center;
  padding: 3vh 0px;
}

.title-usage {
  margin-bottom: 1.2em;
}

.usage img {
  width: 100%;
  max-height: 50vh;
  padding-left: 20px;
}

.third{
  height: 200vh;
}

@media screen and (max-width: 450px) {
  header {
    height: 150px;
  }
  header .titles {
    height: 100px;
  }
  header .tools {
    width: 200px;
    top: 110px;
    right: 10px;
  }
  header .contact {
    right: 20px;
  }
  .sticky.second .arrow {
    right: -30px;
  }
  .sticky.third .third-flex {
    padding-top: 100px;
  }
  .sticky.third .talk {
    bottom: 11px;
    right: 11px;
  }
  .sticky.third .arrow {
    right: -30px;
  }
  .sticky.third .application-content .one {
    width: 65%;
  }
}

@media screen and (max-width: 1000px) {
  .third{
    height: 130vh;
  } 
}

/*# sourceMappingURL=index.css.map */

.rectangle-link {
  display: inline-block;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.rectangle-link__image {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.handshake__image {
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
